* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

:root {
    --f-nunito: 'NunitoSans-Regular';
    --f-work: 'WorkSans-Regular';
    --f-montserrat: 'Montserrat';
    --f-montserrat-thin: 'Montserrat-Thin';

    --green: #007d2f;
    --less-black: #1d1d1d;
    --black: #191919;
    --blacker: #171717;
    --gray: #787878;
    --light-gray: #f8f9f9;
    --gray2: #bcbcbc;

}

/* ========= header ============ */
.header {
    background: url(../img/header_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 17px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_list_link {
    font-size: 12px;
    font-family: var(--f-montserrat);
    color: var(--black);
    text-transform: uppercase;
}

.nav_list_link:hover {
    color: var(--green);
}

.header__title {
    margin-top: -200px;
    color: var(--less-black);
    font-size: 36px;
    font-family: var(--f-montserrat);
    line-height: 25px;
    max-width: 445px;
}

.header__description {
    color: var(--gray);
    font-size: 16px;
    font-family: var(--f-montserrat-thin);
    line-height: 25px;
    max-width: 445px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.header__button {
    height: 55px;
    width: 190px;
    background: var(--green);
    color: white;
    font-family: var(--f-work);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/* ========= /header ============ */

/* ========= main ============ */
/* ========= section_about ============ */
.main_about {
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title {
    font-family: var(--f-montserrat);
    font-size: 35px;
    color: var(--black);
    line-height: 26px;
    margin-bottom: 40px;
}

.about_description {
    font-family: var(--f-montserrat);
    font-size: 14px;
    color: var(--gray);
    line-height: 21px;
    margin-bottom: 40px;
    max-width: 590px;
    text-align: center;
}

/* ========= /section_about ============ */

/* ========= section_skills ============ */
.main_skills {
    background: var(--light-gray);
}

.sp_left_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-right: 55px;
}

.sp_left_panel_container {
    margin-left: auto;
}

.sp_pic {
    width: 50%;
}

.sp_title {
    color: var(--blacker);
    font-size: 30px;
    font-family: var(--f-montserrat);
    margin-left: 15px;
    line-height: 22px;
}

.sp_list {
    padding: 0;
}

.sp_item {
    margin: 40px 15px 20px;
}

.sp_item_text {
    color: black;
    font-size: 12px;
    font-family: var(--f-montserrat);
}

.progress {
    height: 3px;
    width: 500px;
}

.progress-bar {
    background: var(--green);
}

.skills_measures {
    background: var(--green);
    padding: 82px 0
}

.sm_item {
    text-align: center;
    margin-right: 95px;
}

.sm_item_digits {
    margin-top: 8px;
    margin-bottom: 15px;
    font-family: var(--f-montserrat);
    font-size: 18px;
    color: white;
    line-height: 13px;
}

.sm_item_text {
    margin-bottom: 0px;
    font-family: var(--f-montserrat);
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    line-height: 9px;
}

.sm_item img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

/* ========= /section_skills ============ 
*/

/* =============== section_works =================== */
.wp_square {
    position: relative;
    overflow: hidden;
    width: 25%;
}

.square_hover {
    position: absolute;
    top: -30px;
    left: calc(50% - 24px);
    opacity: 0;
    transition: 0.5s;
}

.wp_img {
    width: 100%;
    height: 100%;
}

.wp_square:hover .square_hover {
    top: calc(50% - 15px);
    opacity: 1;
}

.works_load {
    background: var(--green);
    padding-top: 45px;
    padding-bottom: 40px;
}

.works_load p {
    font-family: var(--f-montserrat);
    font-size: 21px;
    color: white;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0 auto;
}

/* =============== /section_works =================== */

/* =============== section_video =================== */
.main_video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.video_title {
    font-size: 42px;
    font-family: var(--f-montserrat);
    color: var(--black);
    line-height: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.video_description {
    font-size: var(--f-nunito);
    font-size: 22px;
    color: var(--gray);
    line-height: 34px;
    text-align: center;
    margin-bottom: 44px;
}

.video_container {
    position: relative;
}

.video_player_button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: 0.3s;
}

.video_container:hover .video_player_button{
    width: 120px;
    height: 120px;
    opacity: 1;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
}

.video_file {
    width: 100%;
}

/* =============== /section_video =================== */
/* =============== section_directions =================== */
.main_directions {
    background: var(--light-gray);
    padding-top: 110px;
    padding-bottom: 100px;
}

.direction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direction:nth-of-type(-n+4) {
    margin-bottom: 50px;
}

.direction_title {
    font-size: 13px;
    font-weight: bold;
    font-family: var(--f-montserrat);
    color: var(--black);
    line-height: 10px;
    margin-top: 30px;
    margin-bottom: 20;
}

.direction_description {
    font-size: 16px;
    font-family: var(--f-nunito);
    color: var(--gray);
    text-align: center;
    margin-bottom: 0;
}

/* =============== /section_directions =================== */

/* =============== section_quote =================== */
.quotes {
    background: green;
    padding-top: 200px;
    padding-bottom: 45px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote_text {
    text-align: center;
    font-size: 20px;
    font-family: var(--f-montserrat);
    line-height: 30px;
    color: white;
    margin-bottom: 0;
}

.quote_author {
    font-family: var(--f-montserrat);
    font-size: 15px;
    color: white;
    line-height: 12px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.carousel-indicators{
    display: flex;
    align-items: center;
}

#quotes_carousel_controls .quotes_control_dots{
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

#quotes_carousel_controls .quotes_control_dots.active{
    width: 10px;
    height: 10px;
}

/* =============== /section_quote =================== */

/* =============== section_partners =================== */
.partners_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 60px;
}

/* =============== /section_partners =================== */

/* =============== section_feedback =================== */
.main_feedback {
    background: var(--light-gray);
    padding-top: 30px;
    padding-bottom: 100px;
}

.feedback_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback_title {
    font-family: var(--f-montserrat);
    font-size: 30px;
    color: var(--less-black);
    line-height: 21px;
}

.feedback_description {
    font-family: var(--f-nunito);
    font-size: 16px;
    color: var(--gray);
    line-height: 24px;
    text-align: center;
}

.feedback_form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.field {
    background: white;
    width: 100%;
    border: 0;
    height: 50px;
    color: black;
    font-family: var(--f-nunito);
    font-size: 15px;
    padding: 0px 17px;
    margin-bottom: 30px;
}

.field::placeholder {
    color: var(--gray);
}

.feedback_comment {
    height: 170px;
    padding: 17px;
}

.feedback_submit {
    margin: 0 auto;
}

.feedback_submit_button {
    height: 55px;
    background: var(--green);
    color: white;
    font-family: var(--f-montserrat);
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
}


/* =============== /section_feedback =================== */

/* ========= /main ============ */

/* ========= footer ============ */
.footer {
    background: #141414;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_company_name {
    font-family: var(--f-montserrat);
    font-size: 18px;
    color: white;
    line-height: 16px;
    margin-bottom: 26px;
}

.footer_company_rights,
.footer_company_designer {
    font-family: var(--f-nunito);
    font-size: 15px;
    color: var(--gray2);
    line-height: 24px;
    margin-bottom: 0;
}

.footer_contacts_email,
.footer_contacts_phone,
.footer_nav_link {
    font-family: var(--f-nunito);
    font-size: 15px;
    color: var(--gray2);
    line-height: 24px;
}

.footer_contacts_phone {
    font-family: var(--f-work);
}

.footer_contacts_email:hover,
.footer_contacts_phone:hover,
.footer_nav_link:hover {
    color: var(--gray2);
}


.footer_nav {
    display: flex;
    justify-content: space-between;
}

/* ========= /footer ============ */