* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

:root {
    --f-nunito: 'NunitoSans-Regular';
    --f-work: 'WorkSans-Regular';
    --f-montserrat: 'Montserrat';
    --f-montserrat-thin: 'Montserrat-Thin';

    --green: #007d2f;
    --black: #191919;
    --blacker: #171717;
    --gray: #787878;

}

/* ========= header ============ */
.header {
    background: url(../img/header_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 17px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_list_link {
    font-size: 12px;
    font-family: var(--f-montserrat);
    color: var(--black);
    text-transform: uppercase;
}

.nav_list_link:hover {
    color: var(--green);
}

.header__title {
    margin-top: -200px;
    color: #1d1d1d;
    font-size: 36px;
    font-family: var(--f-montserrat);
    line-height: 25px;
    max-width: 445px;
}

.header__description {
    color: var(--gray);
    font-size: 16px;
    font-family: var(--f-montserrat-thin);
    line-height: 25px;
    max-width: 445px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.header__button {
    height: 55px;
    width: 190px;
    background: var(--green);
    color: white;
    font-family: var(--f-work);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/* ========= /header ============ */

/* ========= main ============ */
/* ========= section_about ============ */
.main_about {
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title {
    font-family: var(--f-montserrat);
    font-size: 35px;
    color: var(--black);
    line-height: 26px;
    margin-bottom: 40px;
}

.about_description {
    font-family: var(--f-montserrat);
    font-size: 14px;
    color: var(--gray);
    line-height: 21px;
    margin-bottom: 40px;
    max-width: 590px;
    text-align: center;
}

/* ========= /section_about ============ */

/* ========= section_skills ============ */
.main_skills {
    background: #f8f9f9;
}

.sp_left_panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;    
    padding-right: 55px;
}

.sp_left_panel_container{
    margin-left: auto;
}

.sp_pic{
    width: 50%;
}

.sp_title {
    color: var(--blacker);
    font-size: 30px;
    font-family: var(--f-montserrat);
    margin-left: 15px;
    line-height: 22px;
}
.sp_list{
    padding: 0;
}
.sp_item{
    margin: 40px 15px 20px;
}
.sp_item_text {
    color: black;
    font-size: 12px;
    font-family: var(--f-montserrat);
}

.progress {
    height: 3px;
    width: 500px;    
}

.progress-bar{
    background: var(--green);
}

.skills_measures{
    background: green;
    
}
/* ========= /section_skills ============ 
*/
/* ========= /main ============ */