* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

:root {
    --f-nunito: 'NunitoSans-Regular';
    --f-nunito-bold: 'Nunito-Bold';
    --f-work: 'WorkSans-Regular';
    --f-montserrat: 'Montserrat';
    --f-montserrat-thin: 'Montserrat-Thin';
    --f-roboto: "Roboto-Medium";

    --green: #007d2f;
    --less-black: #1d1d1d;
    --black: #191919;
    --blacker: #171717;
    --gray: #787878;
    --light-gray: #f8f9f9;
    --gray2: #bcbcbc;

}

/* ========= header ============ */
.header {
    background: url(../img/header_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.header__container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 17px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

.header__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav_list_link {
    font-size: 12px;
    font-family: var(--f-montserrat);
    color: var(--black);
    text-transform: uppercase;
    margin-left: 35px;
}

.nav_list_link:hover {
    color: var(--green);
}

.header__title {
    margin-top: -200px;
    color: var(--less-black);
    font-size: 36px;
    font-family: var(--f-montserrat);
    line-height: 25px;
    max-width: 445px;
}

.header__description {
    color: var(--gray);
    font-size: 16px;
    font-family: var(--f-montserrat-thin);
    line-height: 25px;
    max-width: 445px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.header__button {
    height: 55px;
    width: 190px;
    background: var(--green);
    color: white;
    font-family: var(--f-work);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

/* ========= /header ============ */

/* ========= main ============ */
/* ========= section_about ============ */
.main_about {
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title {
    font-family: var(--f-montserrat);
    font-size: 35px;
    color: var(--black);
    line-height: 26px;
    margin-bottom: 40px;
}

.about_description {
    font-family: var(--f-montserrat);
    font-size: 14px;
    color: var(--gray);
    line-height: 21px;
    margin-bottom: 40px;
    max-width: 590px;
    text-align: center;
}

/* ========= /section_about ============ */

/* ========= section_skills ============ */
.main_skills {
    background: var(--light-gray);
}

.sp_left_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-right: 55px;
}

.sp_left_panel_container {
    margin-left: auto;
}

.sp_pic {
    width: 50%;
}

.sp_title {
    color: var(--blacker);
    font-size: 30px;
    font-family: var(--f-montserrat);
    margin-left: 15px;
    line-height: 22px;
}

.sp_list {
    padding: 0;
}

.sp_item {
    margin: 40px 15px 20px;
}

.sp_item_text {
    color: black;
    font-size: 12px;
    font-family: var(--f-montserrat);
}

.progress {
    height: 3px;
    width: 500px;
}

.progress-bar {
    background: var(--green);
}

.skills_measures_content {
    display: flex;
    justify-content: space-between;
}

.skills_measures {
    background: var(--green);
    padding: 82px 0
}

.sm_item {
    text-align: center;
}

.sm_item_digits {
    margin-top: 8px;
    margin-bottom: 15px;
    font-family: var(--f-montserrat);
    font-size: 18px;
    color: white;
    line-height: 13px;
}

.sm_item_text {
    margin-bottom: 0px;
    font-family: var(--f-montserrat);
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    line-height: 9px;
}

.sm_item img {
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

/* ========= /section_skills ============ 
*/

/* =============== section_works =================== */
.wp_square {
    position: relative;
    overflow: hidden;
    width: 25%;
}

.square_hover {
    position: absolute;
    top: -30px;
    left: calc(50% - 24px);
    opacity: 0;
    transition: 0.5s;
}

.wp_img {
    width: 100%;
    height: 100%;
}

.wp_square:hover .square_hover {
    top: calc(50% - 15px);
    opacity: 1;
}

.works_load {
    background: var(--green);
    padding-top: 45px;
    padding-bottom: 40px;
}

.works_load p {
    font-family: var(--f-montserrat);
    font-size: 21px;
    color: white;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0 auto;
}

/* =============== /section_works =================== */

/* =============== section_video =================== */
.main_video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.video_title {
    font-size: 42px;
    font-family: var(--f-montserrat);
    color: var(--black);
    line-height: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.video_description {
    font-size: var(--f-nunito);
    font-size: 22px;
    color: var(--gray);
    line-height: 34px;
    text-align: center;
    margin-bottom: 44px;
}

.video_container {
    position: relative;
}

.video_player_button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: 0.3s;
}

.video_container:hover .video_player_button {
    width: 120px;
    height: 120px;
    opacity: 1;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
}

.video_file {
    width: 100%;
}

/* =============== /section_video =================== */
/* =============== section_directions =================== */
.main_directions {
    background: var(--light-gray);
    padding-top: 110px;
    padding-bottom: 100px;
}

.direction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direction:nth-of-type(-n+4) {
    margin-bottom: 50px;
}

.direction_title {
    font-size: 13px;
    font-weight: bold;
    font-family: var(--f-montserrat);
    color: var(--black);
    line-height: 10px;
    margin-top: 30px;
    margin-bottom: 20;
}

.direction_description {
    font-size: 16px;
    font-family: var(--f-nunito);
    color: var(--gray);
    text-align: center;
    margin-bottom: 0;
}

/* =============== /section_directions =================== */

/* =============== section_quote =================== */
.quotes {
    background: green;
    padding-top: 200px;
    padding-bottom: 45px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote_text {
    text-align: center;
    font-size: 20px;
    font-family: var(--f-montserrat);
    line-height: 30px;
    color: white;
    margin-bottom: 0;
}

.quote_author {
    font-family: var(--f-montserrat);
    font-size: 15px;
    color: white;
    line-height: 12px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.carousel-indicators {
    display: flex;
    align-items: center;
}

#quotes_carousel_controls .quotes_control_dots {
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

#quotes_carousel_controls .quotes_control_dots.active {
    width: 10px;
    height: 10px;
}

/* =============== /section_quote =================== */

/* =============== section_partners =================== */
.partners_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 65px;
    padding-bottom: 60px;
}

/* =============== /section_partners =================== */

/* =============== section_feedback =================== */
.main_feedback {
    background: var(--light-gray);
    padding-top: 30px;
    padding-bottom: 100px;
}

.feedback_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback_title {
    font-family: var(--f-montserrat);
    font-size: 30px;
    color: var(--less-black);
    line-height: 21px;
    margin-bottom: 40px;
}

.feedback_description {
    font-family: var(--f-nunito);
    font-size: 16px;
    color: var(--gray);
    line-height: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.feedback_form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.field {
    background: white;
    width: 100%;
    border: 0;
    height: 50px;
    color: black;
    font-family: var(--f-nunito);
    font-size: 15px;
    padding: 0px 17px;
    margin-bottom: 30px;
}

.field::placeholder {
    color: var(--gray);
}

.feedback_comment {
    height: 170px;
    padding: 17px;
}

.feedback_submit {
    margin: 0 auto;
}

.feedback_submit_button {
    height: 55px;
    background: var(--green);
    color: white;
    font-family: var(--f-montserrat);
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 0;
}


/* =============== /section_feedback =================== */

/* ========= /main ============ */

/* ========= footer ============ */
.footer {
    background: #141414;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
}

.footer_company_name {
    font-family: var(--f-montserrat);
    font-size: 18px;
    color: white;
    line-height: 16px;
    margin-bottom: 26px;
}

.footer_company_rights,
.footer_company_designer {
    font-family: var(--f-nunito);
    font-size: 15px;
    color: var(--gray2);
    line-height: 24px;
    margin-bottom: 0;
}

.footer_contacts_email,
.footer_contacts_phone,
.footer_nav_link {
    font-family: var(--f-nunito);
    font-size: 15px;
    color: var(--gray2);
    line-height: 24px;
}

.footer_contacts_phone {
    font-family: var(--f-work);
}

.footer_contacts_email:hover,
.footer_contacts_phone:hover,
.footer_nav_link:hover {
    color: var(--gray2);
}

.footer_nav {
    display: flex;
    justify-content: space-between;
}

/* ========= /footer ============ */

/* =============== templates =============== */
.header__nav_short {
    height: 100px;
}

.nav_list_short .nav_list_link {
    margin-left: 20px;
}

/* =============== /templates =============== */

/* =============== home_page =============== */
.home_header {
    background: var(--green);
    padding-top: 110px;
    padding-bottom: 100px;
}

.home_header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_home_content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.home_square {
    position: relative;
    width: 25%;
    overflow: hidden;
}

.home_square_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(51, 122, 79, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: -100%;
    transition: 0.5s;
}

.home_square:nth-of-type(4n+1) .home_square_hover {
    left: -100%;
    top: 0;
}

.home_square:nth-of-type(4n+4) .home_square_hover {
    left: 100%;
    top: 0;
}

.home_square:nth-of-type(1) .home_square_hover {
    left: -100%;
    top: -100%;
}

.home_square:nth-of-type(4) .home_square_hover {
    left: 100%;
    top: -100%;
}

.home_square:nth-last-of-type(1) .home_square_hover {
    left: 100%;
    top: 100%;
}

.home_square:nth-last-of-type(4) .home_square_hover {
    left: -100%;
    top: 100%;
}


.home_square:hover .home_square_hover {
    left: 0;
    top: 0;
}

.home_square_img {
    width: 100%;
    height: 100%;
}

.home_title {
    font-family: var(--f-montserrat);
    font-size: 30px;
    color: var(--blacker);
    line-height: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.home_description {
    font-family: var(--f-roboto);
    font-size: 17px;
    color: #fefefe;
    line-height: 27px;
    text-align: center;
    margin-bottom: 0;
}

/* =============== /home_page =============== */

/* =============== about_page =============== */
.about_header {
    background: #323232;
}

.about_header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 115px;
    padding-bottom: 115px;
}

.about_page_title {
    font-family: var(--f-montserrat);
    font-size: 62px;
    color: white;
    line-height: 45px;
    text-align: center;
    margin-bottom: 15px;
}

.about_page_description {
    font-family: var(--f-nunito);
    font-size: 22px;
    color: white;
    line-height: 35px;
    text-align: center;
    margin-bottom: 0;
}

.main_about_me {
    overflow: hidden;
    background: #f5f5f5;
}

.about_me_content {
    display: flex;
    justify-content: space-between;
}

.about_me_img {
    position: absolute;
    right: 0;
    width: 50vw;
}

.about_me_info {
    padding-top: 140px;
    padding-bottom: 140px;
}

.about_me_title {
    font-family: var(--f-montserrat);
    font-size: 30px;
    color: var(--blacker);
    line-height: 21px;
    margin-bottom: 35px;
}

.about_me_description {
    font-family: var(--f-nunito);
    font-size: 16px;
    color: var(--gray);
    line-height: 24px;
}

.about_me_description:nth-of-type(1) {
    margin-bottom: 30px;
}

.about_me_signature {
    margin-top: 35px;
}

.feedback_about {
    background: white;
    padding-top: 105px;
}

/* =============== /about_page =============== */

/* =============== project_page =============== */
.project_pages {
    background: #f6f6f6;
    overflow: hidden;
    /* background: blueviolet; */
}

.project_pages_content {
    display: flex;
    justify-content: space-between;
}

.project_left_panel {
    padding: 100px 0;
}

.project_title {
    font-family: var(--f-montserrat);
    font-size: 38px;
    font-weight: bold;
    color: var(--blacker);
    line-height: 30px;
    margin-bottom: 35px;
}

.project_description {
    font-family: var(--f-nunito);
    font-size: 16px;
    color: var(--gray);
    line-height: 25px;
}

.project_info {
    margin-top: 50px;
}

.project_info_param {
    font-family: var(--f-nunito);
    font-size: 16px;
    color: var(--gray);
    line-height: 11px;
    margin-bottom: 19px;
}

.project_info_param:last-of-type {
    margin-bottom: 0;
}

.project_info_bold {
    color: var(--blacker);
    font-family: var(--f-nunito-bold);
}

.project_description:nth-of-type(1) {
    margin-bottom: 31px;
}

.project_right_panel img {
    width: 50vw;
}

.project_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_control_panel {
    background: var(--green);
}

.project_control_panel_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.project_control_panel .carousel-control-next.project-control-arrow,
.project_control_panel .carousel-control-prev.project-control-arrow {
    position: static;
    text-transform: uppercase;
    font-family: var(--f-montserrat);
    font-size: 12px;
    color: white;
}

.project-control-arrow p {
    margin-bottom: 0;
}

.project_control_panel .carousel-indicators.project_control_buttons_panel {
    position: static;
}

.project_control_buttons_panel {
    margin: 0;
    width: 16px;
    height: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.project_control_buttons_panel .project_control_button {
    width: 6px;
    height: 6px;
    background: white;
    opacity: 1;
    margin: 0;
    border: none;
}

.fa-angle-right.project-control-arrow-icon {
    margin-left: 14px;
}

.fa-angle-left.project-control-arrow-icon {
    margin-right: 14px;
}

.project-control-arrow-icon {
    font-size: 24px;
    color: black;
}

/* =============== /project_page =============== */

/* =============== contact_page =============== */
.main_contact {
    background: #f5f5f5;
    padding: 100px 0;
}

.main_contact_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.contact_info_title {
    font-family: var(--f-montserrat);
    font-size: 30px;
    color: var(--blacker);
    margin-bottom: 35px;
}

.contact_info_description {
    font-family: var(--f-nunito);
    font-size: 16px;
    color: var(--gray);
    line-height: 24px;
    margin-bottom: 40px;
}

.contact_info_params {
    margin-bottom: 0;
}

.contact_info_param {
    font-family: var(--f-nunito);
    font-size: 16px;
    color: var(--gray);
    line-height: 11px;
    margin-bottom: 25px;
}

.contact_info_param a{
    color: inherit;
}

.contact_info_param:last-of-type {
    margin-bottom: 0;
}

.contact_info_bold {
    font-family: var(--f-nunito-bold);
    color: var(--blacker);
}

.contact_feedback {
    display: flex;
    justify-content: flex-start;
}

.contact_feedback_sumbit {
    margin-left: 0;
    padding: 0 15px;
}

.contact_feedback_button {
    width: 160px;
}

.main_contact_map{
    border: 0;
    height: 470px;
    width: 100%;
}

/* =============== /contact_page =============== */